/* Custom Class Use  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
body {
  font-family: 'Inter', sans-serif;
}
p {
  font-size: 14px;
  color: var(--paragraphColor);
}
img {
  max-width: 100%;
  height: auto;
}

/* Custom Class Container inner  */
.container {
  max-width: 1367px;
  margin: 0 auto;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.btnCta {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 4px;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  transition: 0.4s all ease-in-out;
}
.btnCta:hover {
  background-color: #2ecc71;
}
