:root {
  --primaryColor: #469165;
  --secondaryColor: #627382;

  /* Background Color */
  --bgColor: #fbfbfb;
  --srcBgColor: #f7f6f2;

  /* Text Color  */
  --headingColor: #001931;
  --paragraphColor: #627382;
  --whiteColor: #fff;
}

/* Navigation Menu Style */
#nav {
  padding: 24px 8px;
}
#nav ul {
  margin: 0;
}
#nav ul li {
  list-style: none;
}
#nav ul a {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.container .btn {
  margin: 0;
}

/* Hero Header Style */
#hero_header {
  background: url(../assets/hero-bg.png);
  /* rgba(0, 25, 49, 0.8) */
  background-repeat: no-repeat;
  background-position: center, center;
  object-fit: cover;
}
#hero_header .Hero_contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  padding: 115px 0;
}

.Hero_contents .early_access_btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--whiteColor);
  padding: 8px 12px;
  border-radius: 999px;
}
.early_access_btn img {
  width: 16px;
  height: 16px;
}
.early_access_btn span {
  font-size: 16px;
  font-weight: 500;
  color: var(--primaryColor);
}

.Hero_contents .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.details h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  text-transform: capitalize;
}
.details h1 span {
  color: var(--primaryColor);
}

.details p {
  color: var(--paragraphColor);
  font-size: 16px;
  line-height: 24px;
}
.Hero_contents .btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.btn_container .btns1 {
  padding: 16px;
  border-radius: 4px;
  background-color: var(--primaryColor);
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.btn_container .btns2 {
  padding: 16px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--whiteColor);
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
.btns1:hover {
  background-color: #2ecc71;
}
.btns2:hover {
  background-color: var(--primaryColor);
}
.btns1 a,
.btns2 a {
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 600;
}

/* Notes Card Section Style */
#notes_Card_Area {
  margin-bottom: 120px;
}
.notes_area {
  margin: 0;
  margin: 0;
  background-color: #fbfbfb;
}

.notes_area .title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 40px 0;
}
.title h2 {
  font-size: 48px;
  font-weight: bold;
  color: var(--headingColor);
}

.notes_area .parent_notes_card {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  justify-content: center;
}

.parent_notes_card .child_notes_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  padding: 30px 24px;
  background-color: white;
  border-radius: 8px;
  height: 300px;
}
.child_notes_card .notes_img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #f95555;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child_notes_card .notes_details {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 16px;
}
.notes_details h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--headingColor);
}
.notes_details p {
  line-height: 16px;
}
.child_notes_card:nth-child(4) .notes_details h4 {
  font-size: 24px;
}

/* knowledge section */
#knowledge_area {
  margin-bottom: 130px;
}
#knowledge_area .knowledge_img {
  flex-basis: 50%;
}
#knowledge_area .knowledge_details {
  flex-basis: 50%;
}
.knowledge_details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.knowledge_details h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primaryColor);
}
.knowledge_details h2 {
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--headingColor);
}
.knowledge_details .icons_details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.icons_details .icon_text {
  display: flex;
  gap: 6px;
}

/*   <!-- Ready to think more section --> */

#thinkMore {
  margin-bottom: 130px;
}
#thinkMore .think_more_details {
  background-color: var(--srcBgColor);
  padding: 80px 40px;
  border-radius: 12px;
}
.think_more_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
}
.think_more_details h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--headingColor);
}
.think_more_details p {
  line-height: 24px;
}
.think_more_details .btns_getAcc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px;
  border-radius: 4px;
  transition: 0.4s all ease-in-out;
  background-color: var(--primaryColor);
}
.btns_getAcc a {
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 600;
}
.btns_getAcc:hover {
  background-color: #2ecc71;
}

.think_more_details .text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.text span {
  color: var(--paragraphColor);
}
